.box {
    width: 200px;
    height: 200px;
    background-color: orangered;
}
.box:hover {
    transform: rotate(20deg);
    transition: 1s ease-in;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: orange;
    transition: 2s ease;
}
.circle:hover {
    transform: translate(20px, 20px);
}

.box-animate {
    width: 300px;
    height: 300px;
    background-color: blue;
    margin-top: 100px;
    margin-left: 500px;
    animation-name: frmas;
    animation-duration: 4s;
    border-radius: 10px;
    /* animation-delay: 2s; */
    animation-iteration-count: infinite;
}

.mini-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: crimson;
    position: absolute;
    top: 53%;
    left: 48%;
    animation-name: transformation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes transformation {
    0% {
        margin-left: 10px;
    }
    25% {
        margin-left: 10px;
    }
    50% {
        margin-left: -20px;
    }
    75% {
        margin-left: -20px;
    }
    100% {
        margin-left: -10px;
    }
}

@keyframes frmas {
    /* from {
        background-color: blue;
    }
    to {
        background-color: burlywood;
    } */
    0% {
        background-color: cadetblue;
    }
    25% {
        background-color: yellowgreen;
    }
    75% {
        background-color: cyan;
    }
    100% {
        background-color: chartreuse;
    }
}